[submodule "kernel"]
	path = kernel
	url = https://github.com/mehedihjoy0/android_kernel_samsung_sm7150.git
	branch = sixteen
[submodule "mkbootimg"]
	path = mkbootimg
	url = https://android.googlesource.com/platform/system/tools/mkbootimg
